<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Aht\Demo\Model\ResourceModel\Brand\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">aht_brand</argument>
            <argument name="resourceModel" xsi:type="string">Aht\Demo\Model\ResourceModel\Brand\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="aht_demo_brand_listing_data_source" xsi:type="string">Aht\Demo\Model\ResourceModel\Brand\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Aht\Demo\Api\Data\BrandInterface" type="Aht\Demo\Model\Brand" />
    <preference for="Aht\Demo\Api\BrandRepositoryInterface" type="Aht\Demo\Model\BrandRepository" />
    <type name="Aht\Demo\Api\BrandRepositoryInterface">
        <plugin name="add_before" type="Aht\Demo\Plugin\Before" sortOrder="10"/>
    </type>
</config>