<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aht_Demo::brand" title="Brand" parent="Magento_Backend::content" module="Aht_Demo" sortOrder="1" action="aht/demo/index" resource="Magento_Backend::content"/>
    </menu>
</config>